body{
  background-color: rgb(90, 24, 154);
  color: white;
}

.Navbar{
  background-color: rgb(16, 0, 43);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
